[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "generate-a-long-random-value"
client_id = "166224795285-b3plbqnwqqkge11o2euesbvc7s44sg3og4.apps.swwqw.com"
client_secret = "GOCSPX-wqwqwqwqwq "
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"
expose_tokens = ["id", "access"]

[auth.client_kwargs]
scope = "openid profile email https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/calendar"
prompt = "consent"

 
